---
import Layout from '../layouts/Layout.astro';

const images = [
	{
		src: 'https://images.pexels.com/photos/1083807/pexels-photo-1083807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/3389817/pexels-photo-3389817.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/1853542/pexels-photo-1853542.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/1784758/pexels-photo-1784758.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/2376799/pexels-photo-2376799.jpeg?auto=compress&cs=tinysrgb&w=600',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/39561/solar-flare-sun-eruption-energy-39561.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/1819650/pexels-photo-1819650.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/1906658/pexels-photo-1906658.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/1983032/pexels-photo-1983032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/1083807/pexels-photo-1083807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/3389817/pexels-photo-3389817.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/1853542/pexels-photo-1853542.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/1784758/pexels-photo-1784758.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/2376799/pexels-photo-2376799.jpeg?auto=compress&cs=tinysrgb&w=600',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/39561/solar-flare-sun-eruption-energy-39561.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/1819650/pexels-photo-1819650.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/1906658/pexels-photo-1906658.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
	{
		src: 'https://images.pexels.com/photos/1983032/pexels-photo-1983032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		alt: '',
	},
]

---
<script>
	const indicator = document.querySelector('.indicator')
	const gallery = document.querySelector('.gallery')
	const galleryItem = document.querySelectorAll('.gallery-item')

	const defaultItemFlex =  "0 1 20px"
	const hoverItemFlex = "1 1 400px"


	const updateGalleryItems = () => {
		galleryItem.forEach((item) => {
			const flex = item.matches(':hover') ? hoverItemFlex : defaultItemFlex;
			item.style.flex = flex;
		});
	}

	galleryItem[0].isHovered = true
	updateGalleryItems()

	galleryItem.forEach((item) => {
		item.addEventListener('mouseenter', () => {
			galleryItem.forEach((otherItem) => {
				otherItem.isHovered = otherItem === item
			})
			updateGalleryItems()
		})
	})

	gallery.addEventListener('mousemove', (e) => {
		indicator.style.left = `${e.clientX - gallery.getBoundingClientRect().left}px`
	})
</script>

<Layout title="Image Hover Effect | Expand Image On Hover">
	<main class="container">
		<div class="indicator"></div>
		<div class="gallery">
			{ 
				images.map(element => {
					return (
							<div class="gallery-item">
								<img src={ element.src } alt={ element.alt } />
							</div>
						)
					})
			}
		</div>
	</main>
</Layout>

<style lang="scss">
	.container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transform-origin: center;
		width: 1000px;
		margin: 0 auto 2em auto;
		padding: 1em 0.5em;
		display: flex;
		justify-content: center;
	}

	.indicator {
		position: absolute;
		top: 0;
		left: 0;
		width: 5px;
		height: 5px;
		background-color: #FFF;
		border-radius: 100%;
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	.gallery {
		display: flex;
		justify-content: space-around;
		width: 100%;
		overflow: hidden;

		.gallery-item {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 0 1 20px;
			height: 400px;
			margin: 0 5px;
			background: #000;
			overflow: hidden;
			transition: flex 1s cubic-bezier(0.075, 0.82, 0.165, 1);

			&.default-item-flex {
				flex: 0 1 20px;
			}

			&.hover-item-flex {
				flex: 1 1 400px;
			}

			img {
				width: 400px;
				height: 100%;
				object-fit: cover;
				transform: scale(2);
			}
		}
	}

</style>
